@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661597964264') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rain:before {
  content: "\e636";
}

.icon-sun:before {
  content: "\e691";
}

.icon-svgshoppingcart:before {
  content: "\e697";
}

.icon-huojianxianxing:before {
  content: "\e614";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowright:before {
  content: "\e694";
}

.icon-sun1:before {
  content: "\e611";
}

.icon-erweima:before {
  content: "\e61a";
}

.icon-phone:before {
  content: "\e69c";
}

.icon-Cloudy:before {
  content: "\e9ba";
}

.icon-Cloudy1:before {
  content: "\eded";
}

.icon-search:before {
  content: "\e741";
}

.icon-Cloudrain:before {
  content: "\e65f";
}

.icon-cloud-sun-rain:before {
  content: "\e532";
}

.icon-gift:before {
  content: "\e752";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-cloud_sun_fill:before {
  content: "\e80c";
}

.icon-cloud_sun_bolt_fill:before {
  content: "\e80e";
}

.icon-w_phone:before {
  content: "\e65e";
}

.icon-customerservice:before {
  content: "\e7ad";
}

